In [3]:
import pymysql
import pandas as pd
from surprise import KNNBasic, SVD, SVDpp, NMF, Reader, Dataset
from surprise.model_selection import cross_validate

In [4]:
con = pymysql.connect(host = '127.0.0.1', user = 'root', password = 'kyjin0413!',
                       db = 'lpointsample', charset = 'utf8')
cur = con.cursor(pymysql.cursors.DictCursor)
cur.execute(
    "with T(cust, total) as(select cust,count(*) as total from 제휴사이용정보_view group by cust order  by cust) SELECT j.cust, j.cop_c, round(count(*) /T.total,2) as rating FROM 제휴사이용정보_view j INNER JOIN T t on j.cust = t.cust GROUP BY j.cust, j.cop_c ORDER BY j.cust;")
result=cur.fetchall()
con.commit()
con.close()
df= pd.DataFrame(result)
print(df.head(10))

         cust cop_c rating
0  M000034966   D01   1.00
1  M000059535   C01   1.00
2  M000136117   D01   1.00
3  M000225114   C01   0.10
4  M000225114   C02   0.70
5  M000225114   D02   0.20
6  M000261625   D01   1.00
7  M000419293   C01   0.39
8  M000419293   C02   0.06
9  M000419293   D01   0.33

In [5]:
reader = Reader(rating_scale=(0.5,5))

In [6]:
dataset = Dataset.load_from_df(df[['cust', 'cop_c', 'rating']], reader = reader)

In [7]:
# KNN을 사용
model = KNNBasic()
cross_validate(model, dataset, measures = ['rmse', 'mse'], cv = 5, n_jobs = 4, verbose = True)

In [ ]:
# SVD
model = SVD()
cross_validate(model, dataset, measures = ['rmse', 'mse'], cv = 5, n_jobs = 4, verbose = True)

In [ ]:
# NMF
model = NMF()
cross_validate(model, dataset, measures = ['rmse', 'mse'], cv = 5, n_jobs = 4, verbose = True)

# 0 제외

In [ ]:
# 출력하는데 오래 걸림
model = SVDpp()
cross_validate(model, dataset, measures = ['rmse', 'mse'], cv = 5, n_jobs = 4, verbose = True)