In [1]:
import pandas as pd
import numpy as np
import pymysql
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='kyjin0413!', db='lpointsample', charset='utf8')
cur = conn.cursor()
cur.execute("select * from 구매점수_소분류;")

result = cur.fetchall()

conn.commit()
conn.close()

df = pd.DataFrame(result)
df

                  0       1  2      3
0        M000034966   가공조미료  3   9360
1        M000034966      간장  1   8300
2        M000034966    감자스낵  2   4360
3        M000034966    과일음료  1   1200
4        M000034966    국산맥주  6  27240
...             ...     ... ..    ...
1631356  M999962961      호두  1   9990
1631357  M999962961  호주산소우둔  1  17800
1631358  M999962961    혼합견과  1   2980
1631359  M999962961    혼합잡곡  1   7990
1631360  M999962961   화이트와인  2  30800

[1631361 rows x 4 columns]

In [17]:
df.columns = ['cust','소분류', '수량', '금액']
df

               cust     소분류 수량     금액
0        M000034966   가공조미료  3   9360
1        M000034966      간장  1   8300
2        M000034966    감자스낵  2   4360
3        M000034966    과일음료  1   1200
4        M000034966    국산맥주  6  27240
...             ...     ... ..    ...
1631356  M999962961      호두  1   9990
1631357  M999962961  호주산소우둔  1  17800
1631358  M999962961    혼합견과  1   2980
1631359  M999962961    혼합잡곡  1   7990
1631360  M999962961   화이트와인  2  30800

[1631361 rows x 4 columns]

In [18]:
# 사용자 유사도
df_pivot4user = df.pivot('cust','소분류','수량')
# 품목별 유사도
df_pivot4category = df.pivot('소분류', 'cust', '수량')

In [19]:
df_pivot4user=df_pivot4user.fillna(0)
df_pivot4category=df_pivot4category.fillna(0)

In [20]:
cos_user = cosine_similarity(df_pivot4user, df_pivot4user)

In [22]:
df_cos = pd.DataFrame(data = cos_user, index=df_pivot4user.index, columns=df_pivot4user.index)
df_cos

cust,M000034966,M000136117,M000201112,M000225114,M000261625,M000350564,M000419293,M000494848,M000504230,M000508243,...,M999340261,M999441814,M999468256,M999492154,M999515910,M999599111,M999673157,M999770689,M999849895,M999962961
cust,,,,,,,,,,,,,,,,,,,,,
M000034966,1.000000,0.054006,0.281184,0.190258,0.043164,0.000000,0.148297,0.089548,0.501796,0.044281,...,0.000000,0.000000,0.052793,0.00000,0.137970,0.138257,0.000000,0.051292,0.040454,0.081385
M000136117,0.054006,1.000000,0.025031,0.050616,0.146737,0.015284,0.375709,0.150981,0.046606,0.030747,...,0.026207,0.000000,0.006788,0.42521,0.091186,0.017778,0.116501,0.037990,0.007124,0.075902
M000201112,0.281184,0.025031,1.000000,0.056761,0.000000,0.000000,0.000000,0.053849,0.553858,0.057466,...,0.000000,0.093659,0.004758,0.00000,0.242911,0.099681,0.056802,0.104841,0.022826,0.097853
M000225114,0.190258,0.050616,0.056761,1.000000,0.205309,0.017329,0.283987,0.221068,0.040683,0.005810,...,0.000000,0.000000,0.056283,0.00000,0.301580,0.254478,0.025844,0.134267,0.058273,0.169290
M000261625,0.043164,0.146737,0.000000,0.205309,1.000000,0.049881,0.149216,0.078722,0.005192,0.007168,...,0.000000,0.000000,0.021364,0.00000,0.058743,0.049732,0.170033,0.087176,0.032741,0.264247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M999599111,0.138257,0.017778,0.099681,0.254478,0.049732,0.000000,0.129299,0.103172,0.108401,0.010204,...,0.000000,0.000000,0.043929,0.00000,0.204164,1.000000,0.302568,0.093372,0.028370,0.092664
M999673157,0.000000,0.116501,0.056802,0.025844,0.170033,0.000000,0.031577,0.016218,0.054284,0.011629,...,0.000000,0.000000,0.000000,0.00000,0.154547,0.302568,1.000000,0.259971,0.062356,0.003772
M999770689,0.051292,0.037990,0.104841,0.134267,0.087176,0.000000,0.039471,0.104770,0.064053,0.017716,...,0.000000,0.008884,0.034977,0.00000,0.180911,0.093372,0.259971,1.000000,0.059001,0.042874
M999849895,0.040454,0.007124,0.022826,0.058273,0.032741,0.006969,0.015861,0.020570,0.033285,0.000000,...,0.000000,0.000000,0.012381,0.00000,0.039678,0.028370,0.062356,0.059001,1.000000,0.018440
M999962961,0.081385,0.075902,0.097853,0.169290,0.264247,0.099897,0.010361,0.057764,0.125403,0.010175,...,0.000000,0.000000,0.018745,0.00000,0.092973,0.092664,0.003772,0.042874,0.018440,1.000000

In [23]:
def sim_user(user_id):
  return df_cos[user_id].sort_values(ascending=False)[1:11]

In [24]:
sim_user('M000136117')

cust
M346999304    0.553056
M498697163    0.513790
M418980464    0.512823
M127279290    0.504610
M695403506    0.502576
M879529000    0.498214
M973906954    0.488281
M897579293    0.479891
M698127127    0.474902
M361033919    0.470087
Name: M000136117, dtype: float64