In [2]:
import pandas as pd
import pymysql

In [3]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='kyjin0413!', db='lpointsample', charset='utf8')

cur = conn.cursor()
cur.execute("select de_dt as 날짜, de_hr as 시간대, sum(buy_am) as 금액 ,count(*) as 이용횟수 from 엘페이이용_view group by de_dt,de_hr order by de_dt,de_hr;")

result = cur.fetchall()

conn.commit()
conn.close()

df = pd.DataFrame(result)

df.columns=['일자','시간대', '금액','이용횟수']

for i in range(len(df)):
    a = str(df['일자'][i])[:10]
    b = str(df['시간대'][i])
    if len(b) == 1:
        b= "0"+b
    df['일자'][i]=a+" "+b
    df['일자'][i] = pd.to_datetime(df['일자'][i], format='%Y-%m-%d %H')
    
df = df.drop(columns=['시간대'])

C:\Users\ASIA-08\AppData\Local\Temp\ipykernel_2100\544794966.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'][i]=a+" "+b
C:\Users\ASIA-08\AppData\Local\Temp\ipykernel_2100\544794966.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'][i] = pd.to_datetime(df['일자'][i], format='%Y-%m-%d %H')

In [4]:
df

                       일자       금액  이용횟수
0     2021-01-01 00:00:00  2683380    72
1     2021-01-01 01:00:00   499360    11
2     2021-01-01 02:00:00    64176    10
3     2021-01-01 03:00:00   885833    11
4     2021-01-01 05:00:00    37630     1
...                   ...      ...   ...
8628  2021-12-31 19:00:00  5136390    63
8629  2021-12-31 20:00:00  3124749    72
8630  2021-12-31 21:00:00  1210011    33
8631  2021-12-31 22:00:00  1398815    48
8632  2021-12-31 23:00:00  1504550    24

[8633 rows x 3 columns]

In [5]:
import pandas as pd
import pymysql

conn = pymysql.connect(host='127.0.0.1', user='root', password='kyjin0413!', db='lpointsample', charset='utf8')
cur = conn.cursor()
cur.execute("select de_dt as 날짜, de_hr as 시간대, sum(buy_am) as 금액 ,count(*) as 이용횟수 from 엘페이이용_view group by de_dt,de_hr order by de_dt,de_hr;")
result = cur.fetchall()
conn.commit()
conn.close()
df = pd.DataFrame(result)
df.columns=['일자','시간대', '금액','이용횟수']
df_date = df['일자'].values.tolist()

for i in range(len(df)):
    a = str(df['일자'][i])[:10]
    b = str(df['시간대'][i])
    if len(b) == 1:
        b= "0"+b
    df['일자'][i]=a+" "+b
    df['일자'][i] = pd.to_datetime(df['일자'][i], format='%Y-%m-%d %H')
df=df.drop(columns=['시간대'])
list_date = []
for v in df_date:
    if v in list_date:
        pass
    else:
        list_date.append(v)

list_time = []
col = []
for i in range(24):
    list_time.append(i)
for i in range(len(list_date)):
    a = str(list_date[i])[:10]
    for j in range(len(list_time)):
        b = str(list_time[j])
        if len(b) == 1:
            b= "0"+b
        col.append(a+" "+b)

category=[ '금액','이용횟수']

df_final = pd.DataFrame(index = col, columns=category)
df_final.index = pd.to_datetime(df_final.index, format='%Y-%m-%d %H')

for i in range(len(df)):
    df_final.loc[df['일자'][i]]['금액']=df['금액'][i]
    df_final.loc[df['일자'][i]]['이용횟수']=df['이용횟수'][i]

df_final=df_final.fillna(0)

df_final

C:\Users\ASIA-08\AppData\Local\Temp\ipykernel_2100\3084992389.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'][i]=a+" "+b
C:\Users\ASIA-08\AppData\Local\Temp\ipykernel_2100\3084992389.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일자'][i] = pd.to_datetime(df['일자'][i], format='%Y-%m-%d %H')

                          금액  이용횟수
2021-01-01 00:00:00  2683380    72
2021-01-01 01:00:00   499360    11
2021-01-01 02:00:00    64176    10
2021-01-01 03:00:00   885833    11
2021-01-01 04:00:00        0     0
...                      ...   ...
2021-12-31 19:00:00  5136390    63
2021-12-31 20:00:00  3124749    72
2021-12-31 21:00:00  1210011    33
2021-12-31 22:00:00  1398815    48
2021-12-31 23:00:00  1504550    24

[8760 rows x 2 columns]

In [6]:
df_final.to_csv('시간대별소비금액.csv', index = False)