In [2]:
import pandas as pd
import numpy as np
import pymysql
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='kyjin0413!', db='lpointsample', charset='utf8')
cur = conn.cursor()
cur.execute("select * from 구매점수_소분류;")

result = cur.fetchall()

conn.commit()
conn.close()

df = pd.DataFrame(result)

In [4]:
df.columns = ['cust', '소분류', '수량', '금액']
df.pivot('cust','소분류', '수량')

소분류,2단우산,3단우산,BB/파운데이션/컴팩트류,CDP/카세트,DIY가구,DIY완구,DSLR,DVD플레이어,LED,LED램프,...,후크류,훈련,훈제/구이오징어,훈제/로스트,휴대폰,휴대폰용품,휴지통,흑미,히터,힙색/사이드백
cust,,,,,,,,,,,,,,,,,,,,,
M000034966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M000136117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M000201112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M000225114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M000261625,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M999599111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M999673157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M999770689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M999849895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M999962961,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# 사용자 유사도
df_pivot4user = df.pivot('cust','소분류','수량')
# 품목별 유사도
df_pivot4category = df.pivot('소분류', 'cust', '수량')

In [6]:
df_pivot4user = df_pivot4user.fillna(0)
df_pivot4category = df_pivot4category.fillna(0)

In [7]:
cos_user = cosine_similarity(df_pivot4user, df_pivot4user)
df_cos = pd.DataFrame(data = cos_user, index=df_pivot4user.index, columns=df_pivot4user.index)

In [8]:
def sim_user(user_id):
  sim_user1 = pd.DataFrame(sim_user(user_id))
  sim_user1.reset_index(drop=False, inplace=True)
  sim_user1 = df[sim_user1.loc[0]['cust'] == df['cust']]
  return sim_user1[['소분류','수량']].sort_values(by= '수량', ascending=False)[0:3]

In [9]:
sim_user('M000136117')

:

: